{
      "log_conf_path": "./conf/log.conf",
      "db": {
            "user": "root",
            "password": "123456",
            "host": "localhost",
            "port": 3306
      },
      "redis": {
            "host": "127.0.0.1",
            "password": "123456"
      },
      "schedular": {
            "host": "127.0.0.1",
            "port": 12345
      },
      "warning_timeout": 150,
      "remove_timeout": 300,
      "bot_grpc":{
        "base_url": "127.0.0.1:5000"
      }
}